* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60vw;
    height: 70vh;
    display: flex;
    border-radius: 15px;
}

.logo-container {
    background: bisque url("images/logo-bg.jpg");
    background-position: 55% 33%;
    background-size: cover;
    border-radius: 8px 0 0 8px;
    flex: 1;
}

.logo-bar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 8rem;
    margin-top: 30%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-bar img {
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.logo-bar span {
    font-size: 3rem;
}

.sidebar {
    background-color: #faf7f3;
    flex: 2;
    border-radius: 0px 8px 8px 0;
}

.signup {
    width: 100%;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
}

.signup h2 {
    margin-bottom: 2rem;
}

.signup-form input {
    width: 35%;
    padding: 5px;
    font-size: 12px;
}

.signup-form button {
    margin: 2rem 0 0 2.5rem;
    color: #fff;
    padding: 10px 30px;
    background-color: #daa76a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #e2ba89;
}

.signup-form label {
    font-size: 12px;
    font-weight: bold;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 5em;
    margin-bottom: 1em;
}

.form-row input {
    width: 100%;
}

.form-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.login {
    margin: 2rem 0 0 2.5rem;
    font-size: 14px;
}

.login a {
    color: #ee8709;
    text-decoration: none;
}

